{
  "rabbitmq": {
    "host": "{{ sensu_rabbitmq_host }}",
    "port": "{{ sensu_rabbitmq_port }}",
    "vhost": "/{{ sensu_rabbitmq_vhost }}",
    "user": "{{ sensu_rabbitmq_user_name }}",
    "password": "{{ sensu_rabbitmq_user_pass }}"
  }
}
