{
  "rabbitmq": {
    "host": "127.0.0.1",
    "port": 5671,
    "vhost": "/{{ sensu_rabbitmq_vhost }}",
    "user": "{{ sensu_rabbitmq_user_name }}",
    "password": "{{ sensu_rabbitmq_user_pass }}",
    "heartbeat": 30,
    "prefetch": 50,
    "ssl": {
      "cert_chain_file": "/etc/sensu/ssl/cert.pem",
      "private_key_file": "/etc/sensu/ssl/key.pem"
    }
  }
}
