#!/bin/sh
#
# WARNING: REQUIRES /bin/sh
#
# - must run on /bin/sh on solaris 9
# - must run on /bin/sh on AIX 6.x
# - if you think you are a bash wizard, you probably do not understand
#   this programming language.  do not touch.
# - if you are under 40, get peer review from your elders.
#

is_darwin()
{
  uname -v | grep "^Darwin" > /dev/null 2>&1
}

is_smartos()
{
  uname -v | grep "^joyent" > /dev/null 2>&1
}

is_aix()
{
  uname -a | grep "^AIX" > /dev/null 2>&1
}

is_freebsd()
{
  uname -v | grep "^FreeBSD" > /dev/null 2>&1
}

is_solaris()
{
  uname -a | grep "^SunOS" > /dev/null 2>&1
}

is_linux()
{
  uname -a | grep "^Linux" > /dev/null 2>&1
}

action=$1
sensu_service=sensu-$2
forking=$3

ETC_DIR=/etc

if is_freebsd; then
  ETC_DIR=/usr/local/etc
fi

SENSU_HOME={{ sensu_user_home }}
CONFIG_DIR=$ETC_DIR/sensu
CONFIG_FILE=$CONFIG_DIR/config.json
CONFD_DIR=$CONFIG_DIR/conf.d
EXTENSION_DIR=$CONFIG_DIR/extensions
PLUGINS_DIR=$CONFIG_DIR/plugins
HANDLERS_DIR=$CONFIG_DIR/handlers
PID_DIR={{ sensu_pid_dir }}
LOG_DIR={{ sensu_log_dir }}
LOG_LEVEL={{ sensu_log_level }}

if [ -f $ETC_DIR/default/sensu ]; then
    . $ETC_DIR/default/sensu
fi

cd $SENSU_HOME

svc_exec="/usr/local/bin/$sensu_service"

logfile=$LOG_DIR/$sensu_service.log
pidfile=$PID_DIR/$sensu_service.pid
options="-c $CONFIG_FILE -d $CONFD_DIR -e $EXTENSION_DIR -p $pidfile -l $logfile -L $LOG_LEVEL $OPTIONS"

if [ "x$forking" = "xfork" ]; then
    options="-b $options"
fi

ensure_dir() {
    if [ ! -d $1 ]; then
        mkdir -p $1
        chown -R $2 $1
        chmod 755 $1
    fi
}

set_sensu_paths() {
    PATH=$PATH:$PLUGINS_DIR:$HANDLERS_DIR
    export PATH
}

validate() {
    validate_options="--validate_config -b -c $CONFIG_FILE -d $CONFD_DIR -e $EXTENSION_DIR $OPTIONS"
    $svc_exec $validate_options
}

start() {
   set_sensu_paths
   exec $svc_exec $options
}

case "$action" in
  start)
      start
      ;;
  validate)
      validate
      ;;
  *)
      echo "Usage: $0 {start|validate} {client|server|api} [fork]"
      exit 2
esac

exit $?
