[Unit]
Description=sensu {{ service }}

[Service]
User=sensu
Group=sensu
ExecStart={{ sensu_user_home }}/bin/sensu-service start {{ service }}
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target
